<section>
  <h1>友情链接</h1>
  <ul id="friendly_link">
    <li class="post">
      <a href="http://blog.devtang.com">唐巧的技术博客</a>
    </li>
    <li class="post">
      <a href="http://onevcat.com">OneV's Den</a>
    </li>
    <li class="post">
      <a href="http://blog.sunnyxx.com">sunnyxx</a>
    </li>
    <li class="post">
      <a href="http://www.superqq.com">刚刚在线</a>
    </li>
    <li class="post">
      <a href="http://isheyes.com">Jessica</a>
    </li>
    <li class="post">
      <a href="http://z081.com">Z081</a>
    </li>
  </ul>
</section>
